<div class="errors"></div>
<div class="contact">
    <h1>Contact me</h1>
    <h3>Topic</h3>
    <input type="text" name="topic" id="topic" value=" Insert topic">
    <h3>Message</h3>
    <textarea type="text" name="message" id="message">Insert message</textarea>
    <h3>Email adress</h3>
    <input type="text" name="email" id="email" value=" Insert email">
    <button type="submit" class="submit" onclick="sendForm()">Send</button>
</div>