<div class="circle_wrapper">
    <div class="circle">
        <div class="content_wrapper">
            <div class="content">
                <h1>Adrian Almetun Smeds</h1>
            </div>
        </div>
    </div>
</div>
<div class="flex_center">
    <div class="introduct">
        <h2>Front-end & Back-end</h2>
        <h2>Developer</h2>
        <p>In case of emergency <br>git commit, git push</p>
        <div class="flex_center">
            <div class="profilepic"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vector_graphic">
        
    </div>
</div>
<div class="color_container">
    <p>Hello I´m Adrian this is some Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor magni vel amet impedit eum repellat cumque, aperiam perferendis dignissimos ratione quae laudantium. Eos quibusdam quos fugit rem cupiditate exercitationem consequatur.</p>
</div>

