<div class="circle_wrapper">
    <div class="circle">
        <div class="content_wrapper">
            <div class="content">
                <h1>Adrian Almetun Smeds</h1>
            </div>
        </div>
    </div>
</div>
<div class="flex_center">
    <div class="introduct">
        <h2>Front-end & Back-end</h2>
        <h2>Developer</h2>
        <p>In case of emergency <br>git commit, git push</p>
        <div class="flex_center">
            <div class="profilepic"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="vector_graphic">

    </div>
</div>
<div class="color_container">
    <h1>Hello</h1>
    <h1>I´m Adrian. Pleasure to meet.</h1>
    <p>I´m just starting my journey as a developer in both front-end and back-end. I´m always learning new things to utilize in upcoming projects. I´v been mostly working on individual small project but are also currently working on a big project with great potential for all of us who love an organized life.</p>
</div>
<div class="experience_container">
    <div class="experience_content">
        <h3>Front-end Development</h3>
        <h4>Languages I speak</h4>
        <p>HTML, CSS, Sass, JavaScipt</p>
        <h4>Dev tools</h4>
        <p>Figma<br>VisualStudio Code<br>Github<br>Terminal<br>StackOverflow</p>
    </div>
    <div class="experience_content">
        <h3>Back-end Development</h3>
        <h4>Languages I Speak</h4>
        <p>Ruby<br>JavaScipt<br>Python</p>
        <h4>What I enjoy developing</h4>
        <p>IoT software<br>Useful utilities</p>
    </div>

</div>
<a name="experiance"></a>
<div class="recent_container flex_center">
    <h2>My recent work</h2>
    <div class="recent_content" id="recent_1">
        <div class="content">
            <h2>NovaSoftware to Google Calendar Exporter</h2>
            <a href="https://frozen-tor-30047.herokuapp.com" class="github_link">
                <div class="github_link_inner">Visit</div>
            </a>
        </div>
    </div>
    <div class="recent_content" id="recent_2">
        <div class="content">
            <h2>Webbshop</h2>
            <a href="https://github.com/itggot-adrian-almetunsmeds/webbutveckling-projekt-3" class="github_link">
                <div class="github_link_inner">Visit</div>
            </a>
        </div>
    </div>
</div>
<div class="recent_container flex_center">
    <h2>My current project</h2>
    <div class="recent_content" id="current_1">
        <div class="content">
            <h2>Portfolio</h2>
            <a href="https://github.com/itggot-adrian-almetunsmeds/webbutveckling-slutprojekt" class="github_link">
                <div class="github_link_inner">Visit</div>
            </a>
        </div>
    </div>
</div>

<div class="hire_me">
    <div class="content">
        <h2>Feel like working with me?</h2>
        <h3>Throw me a message and I´ll buy you a coffee.</h3>
        <a href=""><span class="button">Let´s do this</span></a>
    </div>
</div>