<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adrian portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body>
    <div class="wrapper">
    <header>
        <i class="material-icons">menu</i>
        <div class="box">
            <h2>Adrian</h2>
            <h3>Almetun Smeds</h3>
        </div>
    </header>
        <%= yield %>
    </div>
</body>
    <script src="js/main.js"></script>
</html>