@import 'variables.css.sass'
.color_container
    background: $secondary-color
    height: 100%
    padding: 40px 5px 35px 5px
    text-align: center
    position: relative
    color: black
    // border-top: white 1px solid
    h1
        margin: 0
        padding: 0        