@import 'variables.css.sass'
.experience_container
    background: white
    color: black
    border-radius: 10px
    min-height: 100px
    width: 80%
    position: relative
    top: -40px
    left: 10%
    border: rgba(255,255,255, 0.5) 1px solid
    box-shadow: rgba(255,255,255, 0.5) 0px 2px
.experience_content
    padding: 5px
.experience_content:nth-child(1n + 2)
    border-top: rgba(0,0,0, 0.5) 1px solid
