@import 'variables.css.sass'
.flex_center
    display: flex
    justify-content: center
    align-items: center
.introduct
    font-family: 'Gugi', cursive
    margin-top: 5vh
    display: grid
    grid-template-rows: auto auto auto
    h2, p
        width: 100%
        text-align: center
        margin: 0
        font-size: 2rem
    p 
        margin-top: 10px
    .flex_center
        width: 100%
        .profilepic
            margin-top: 15vh
            border-radius: 50%
            background-image: url("../img/profile_pic.png")
            width: 50vw
            height: 50vw
            background-size: cover
            @media only screen and (min-width: 500px)
                width: 40vh
                height: 40vh
.button
    background: $secondary-color
    padding: 3px
    transition: all 0.2s ease
    display: flex
    justify-content: center
    align-items: center
.button:hover
        background: $secondary-color-modified
        border-radius: 12px !important
.hire_me
    margin-top: 80px
    position: relative
    display: flex
    align-items: center
    background: $secondary-color
    padding-bottom: 1.5rem
    .content
        width: 100%
        display: grid
        grid-template-rows: auto auto auto
        text-align: center
        a
            width: 200px
            justify-self: center
            text-decoration: none
            color: white
            span
                border: black 1px solid
                border-radius: 2px
    @media only screen and (min-width: 500px)
        h3
            font-size: 0.9rem
    span
        width: 100%
footer
    background: $secondary-color
    padding-bottom: 10px
    h2
        margin: 0
        text-align: center
    h3
        margin-top: 4px
    .icons
        padding-top: 4px
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        text-decoration: none
        .social_icon
            width: 50px !important
            height: 50px !important
    a
        margin-left: 10px
        path
            transition: all 0.2s ease
        svg:hover
            path
                fill: $secondary-color-modified