body {
  padding: 0;
  margin: 0;
  font-family: "lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.wrapper {
  background: black;
  min-height: 100vh;
  width: 100%;
  min-width: 340px;
  color: white; }

h1, h2, h3, p {
  cursor: default; }

.circle_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: centers;
  padding-top: 10vh;
  transition: all 1s ease;
  background: black;
  z-index: 100000; }
  @media only screen and (min-width: 500px) {
    .circle_wrapper {
      font-size: 1.6rem; } }

.circle:after, .circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; }

.circle:before {
  border-radius: 80vw 80vw 0 0; }
  @media only screen and (min-width: 500px) {
    .circle:before {
      border-radius: 80vh 80vh 0 0; } }

.circle:after {
  border-radius: 0 0 80vw 80vw; }
  @media only screen and (min-width: 500px) {
    .circle:after {
      border-radius: 0 0 80vh 80vh; } }

.circle {
  animation: rotate 35s linear infinite;
  display: block;
  width: 80vw;
  height: 80vw;
  border: 20px rgba(255, 255, 255, 0.9) dotted;
  position: relative;
  border-radius: 50%; }
  @media only screen and (min-width: 500px) {
    .circle {
      width: 80vh;
      height: 80vh; } }
  .circle .content_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translateY(-50%);
    border-radius: 50%;
    animation: rotate-reverse 35s linear infinite; }
    .circle .content_wrapper .content {
      display: block; }
    .circle .content_wrapper h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      vertical-align: center; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-reverse {
  100% {
    transform: rotate(0deg); }
  0% {
    transform: rotate(360deg); } }
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px white solid; }
  @media only screen and (min-width: 500px) {
    header {
      font-size: 1.5rem; } }
  header .box {
    display: grid;
    grid-template-rows: auto auto;
    padding: 4px 0 0 6px; }
    header .box * {
      margin: 0;
      width: 100%;
      text-align: center; }

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center; }

.introduct {
  margin-top: 5vh;
  display: grid;
  grid-template-rows: auto auto auto; }
  .introduct h2, .introduct p {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 2rem; }
  .introduct p {
    margin-top: 10px;
    font-family: "Gugi", cursive; }
  .introduct .flex_center {
    width: 100%; }
    .introduct .flex_center .profilepic {
      margin-top: 15vh;
      border-radius: 50%;
      background-image: url("../img/profile_pic.png");
      width: 50vw;
      height: 50vw;
      background-size: cover; }
      @media only screen and (min-width: 500px) {
        .introduct .flex_center .profilepic {
          width: 40vh;
          height: 40vh; } }

.button {
  background: #006699;
  padding: 3px;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center; }

.button:hover {
  background: #0082c4;
  border-radius: 12px !important; }

.hire_me {
  margin-top: 80px;
  position: relative;
  display: flex;
  align-items: center;
  background: #006699;
  padding-bottom: 1.5rem; }
  .hire_me .content {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center; }
    .hire_me .content a {
      width: 200px;
      justify-self: center;
      text-decoration: none;
      color: white; }
      .hire_me .content a span {
        border: black 1px solid;
        border-radius: 2px; }
  @media only screen and (min-width: 500px) {
    .hire_me h3 {
      font-size: 0.9rem; } }
  .hire_me span {
    width: 100%; }

footer {
  background: #006699;
  padding-bottom: 10px; }
  footer h2 {
    margin: 0;
    text-align: center; }
  footer h3 {
    margin-top: 4px; }
  footer .icons {
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none; }
    footer .icons .social_icon {
      width: 50px !important;
      height: 50px !important; }
  footer a {
    margin-left: 10px; }
    footer a path {
      transition: all 0.2s ease; }
    footer a svg:hover path {
      fill: #0082c4; }

.container {
  position: relative;
  height: 6vh;
  bottom: 0; }
  .container .vector_graphic {
    background: #006699;
    width: 100%;
    height: 100%; }

.color_container {
  background: #006699;
  height: 100%;
  padding: 40px 5px 35px 5px;
  text-align: center;
  position: relative;
  color: black; }
  .color_container h1 {
    margin: 0;
    padding: 0; }

.experience_container {
  background: white;
  color: black;
  border-radius: 10px;
  min-height: 100px;
  width: 80%;
  position: relative;
  top: -40px;
  left: 10%;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 2px; }

.experience_content {
  padding: 5px; }

.experience_content:nth-child(1n + 2) {
  border-top: rgba(0, 0, 0, 0.5) 1px solid; }

.recent_container {
  flex-wrap: wrap; }
  .recent_container h2 {
    width: 100%;
    text-align: center; }
  .recent_container .recent_content {
    width: 80vw;
    height: 40vw;
    background: white;
    margin: 20px;
    border-radius: 10px;
    padding: 0; }
    @media only screen and (min-width: 500px) {
      .recent_container .recent_content {
        width: 55vh;
        height: 27.5vh; } }

.recent_content .content {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }
  .recent_content .content h2 {
    padding-bottom: 3px; }
  .recent_content .content .github_link {
    margin: 0 auto 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: all 0.2s ease;
    min-width: 50%;
    max-width: 80%;
    background: rgba(0, 0, 0, 0);
    text-decoration: none; }
    .recent_content .content .github_link .github_link_inner {
      width: 100%;
      height: 100%;
      margin: 0;
      text-align: center; }

.recent_content:hover .content {
  background: rgba(0, 0, 0, 0.5);
  padding-top: 8px; }
  .recent_content:hover .content .github_link {
    background: #006699;
    transition: all 0.2s ease; }
  .recent_content:hover .content .github_link:hover {
    border-radius: 12px;
    background: #0082c4; }

.recent_content * {
  transition: all 0.2s linear;
  color: rgba(0, 0, 0, 0);
  margin: 0; }

.recent_content:hover * {
  color: white; }

#recent_1 {
  background-image: url("../img/calendar_background@480x270.jpeg");
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat; }

#recent_2 {
  background-image: url("../img/webbutveckling-3@480x270.jpeg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat; }

#current_1 {
  background-image: url("../img/laptop_external_displays@720x400.jpeg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat; }

menu {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white; }
  menu .hamburger {
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.8s ease;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1000; }
    menu .hamburger span {
      display: block;
      width: 44px;
      height: 4px;
      background: white;
      margin-top: 5px;
      position: relative;
      border-radius: 2px;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

.wrapper {
  transition: all 0.8s ease; }

menu.shazam .hamburger {
  transform: rotate(-45deg);
  transition: all 0.8s ease; }
  menu.shazam .hamburger span {
    opacity: 1;
    transform: rotate(45deg) translateY(-11px);
    background: white;
    transform-origin: left center; }
  menu.shazam .hamburger span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0, 0); }
  menu.shazam .hamburger span:nth-last-child(1) {
    transform: rotate(-45deg) translateY(5.5px); }
menu.shazam .wrapper {
  transform: rotate(-20deg);
  transform-origin: top left;
  transition: transform 0.8s ease; }
menu.shazam .hamburger:hover {
  transition-delay: 0.2s;
  transform: rotate(135deg); }

nav {
  position: fixed;
  left: -20vw;
  transition: all 0.8s ease;
  color: white;
  opacity: 0;
  font-size: 2rem;
  bottom: 10vh; }
  @media only screen and (min-width: 500px) {
    nav {
      font-size: 1.2rem;
      bottom: 10vh; } }
  nav ul {
    transition: all 0.1s linear; }
  nav a {
    text-decoration: none;
    color: black; }
  nav ul:hover {
    transform: scale(1.2); }
  nav i {
    font-size: 1.5rem; }
  nav svg {
    transition: all 0.8s ease;
    color: white;
    opacity: 0; }

nav.shazam {
  color: black;
  opacity: 1;
  left: 0; }
  nav.shazam svg {
    color: black;
    opacity: 1; }
